<div class="container page">
  <div class="row">
    <div class="col-md-12">
      <h2>Contact</h2>
    </div>
  </div>
  <br/>
  <div class="clearfix"></div>
  <div class="row">
    <div class="col-md-12 voffset3">
      <span class="fas fa-phone fa-1x" style="padding-right:10px;font-size:24px"></span>
      <h5 style="display:inline">Phone:</h5>
    </div>
    <div class="col-md-12 voffset2" style="padding-left:50px;">
      <a href="tel:18336570515">1-833-657-0515</a> (toll-free) or
      <a href="tel:16127666952">612-766-6952</a>
    </div>
  </div>
  <br/>
  <div class="clearfix"></div>
  <div class="row">
    <div class="col-md-12 voffset3">
      <span class="fas fa-envelope fa-1x" style="padding-right:10px;font-size:24px"></span>
      <h5 style="display:inline">Mail:</h5>
    </div>

    <div class="col-md-12 voffset2" style="padding-left:50px;">
      <p>
        Minneapolis Apartment Settlement Program
        <br /> Settlement Administrator
        <br /> P.O. Box 25848
        <br> Richmond, VA 23260
      </p>
    </div>
  </div>
</div>
