<app-header></app-header>
<app-inner-header [class.remove-tag]='IsremoveElement'></app-inner-header>
<!-- Feedback Button trigger modal -->
<div id="feedback">
  <button type="button" class="btn btn-primary" (click)="openFeedbackForm()">
    Rate Us
    <i class="fa fa-comments" aria-hidden="true"></i>
  </button>
</div>
<router-outlet></router-outlet>

<div id="feedbackForm" [class.remove-tag]='IsHideFeedbackForm'>
  <!-- <form class="form-group">
        <div>
            <label for="name">Name:</label>
            <input type="text" name="name" id="name" class="form-control input-md">
            <label for="about">Comments:</label>
            <textarea rows="3" name="about" id="about" class="form-control input-md"></textarea>
            <button type="button" class="btn btn-primary" data-loading-text="Sending info.."><em class="icon-ok"></em> Submit</button>
        </div>
    </form> -->
</div>
<!-- <button type="button" class="btn btn-lg btn-danger" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?">Click to toggle popover</button> -->
<!-- Central Modal Medium Success-->
<div id="result"></div>
<app-footer></app-footer>
