<div class="home-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-3">
        <div class="row">
            <img src="assets/img/flores-apartments-200.png" class="img-200 rounded img-responsive shadow" alt="Housing">
        </div>
      </div>
      <div class="col-lg-10 col-md-10 col-sm-9">
        <h2 style="text-align:justify">If you leased an apartment from the Apartment Shop in Minneapolis, MN at any time from November 13, 2012 through
          October 24, 2018, you could get a payment from a class action settlement.</h2>
      </div>
    </div>
  </div>
  <div class="container page">
    <div class="row">
      <div class="col-lg-12 col-lg-offset-1 voffset2">
        <p>
          <i>Para obtener una copia de esta notificación en español,
            <a href="docs/Long_Form_Notice_Spanish.pdf" target="_blank">diríjase aquí.</a>
          </i>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-lg-offset-1 voffset2">
        <p>
          <i>Si aad ugu hesho nuqulka ogeysiiskan af Soomaali ah,
            <a href="docs/Long_Form_Notice_Somali.pdf" target="_blank">halkan gal.</a>
          </i>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-lg-offset-1 voffset2" style="text-align:justify">
        <p>A settlement has been reached in a class action lawsuit alleging that
          <a href="docs/Defendant_Landlords.pdf" target="_blank">certain landlords</a>, including the Apartment Shop, (the "Defendants") violated Minnesota state law by renting
          the apartment buildings identified in
          <a href="docs/Subject_Properties.pdf" target="_blank">this list</a> (the "Subject Properties") without a proper license and by systematically and continuously failing
          to maintain the Subject Properties as required by health and safety laws. The Defendants deny any wrongdoing.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-lg-offset-1 voffset2" style="text-align:justify">
        <p>The settlement, if approved by the State of Minnesota District Court for Hennepin County, Minnesota, would provide
          $18,500,000 to pay (1) class members who held residential leases with Defendants for rental units located in any
          of the
          <a href="docs/Subject_Properties.pdf" target="_blank">Subject Properties</a> at any time between November 13, 2012 and October 24, 2018, (2) attorneys’ fees, expenses,
          and costs of Plaintiffs, (3) an incentive award to certain plaintiffs who helped prosecute the case as Class Representatives,
          and (4) notice and settlement administration costs.</p>
      </div>

    </div>
    <div class="row">
      <div class="col-lg-12 col-lg-offset-1 voffset2" style="text-align:justify">
        <p>Your legal rights are affected whether you act or don't act. Read
          <a href="docs/Notice_of_Settlement.pdf" target="_blank">the complete class settlement notice</a> carefully.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-lg-offset-1 voffset2" style="text-align:justify">
        <p>
          <b>The Settlement Administrator mailed the class settlement notice on November 2, 2018 to the last-known mailing address
            of each Settlement Class Member. If you leased a Subject Property and have not received a notice in the mail
            or need to update your mailing address,
            <a href="Step1">click here.</a>
          </b>
        </p>
      </div>
    </div>
  </div>
</div>
