<div class="container page">
  <div class="row">
    <div class="col-md-12">

      <h2>Documents</h2>
    </div>
  </div>
  <br/>
  <div class="clearfix"></div>
  <div class="row">
    <div class="col-md-12 voffset2">
      <p>
        <span id="ContentPlaceHolder1_ContentPlaceHolder2_lblDocCatDesc">Click the links below to view, download, and/or print important documents.</span>
      </p>
    </div>
    <div class="row">
      <div class="col-lg-12 voffset3">
        <div class="col-lg-12 viewDocs">
          <p>
            <a href="docs/Defendant_Landlords.pdf" target="_blank">
              <i class="far fa-file-pdf" style="padding-right:10px;font-size:24px;color:red" ></i>List of Defendant Landlords</a>
          </p>
          <p>
            <a href="docs/Subject_Properties.pdf" target="_blank">
              <i class="far fa-file-pdf" style="padding-right:10px;font-size:24px;color:red" ></i>List of Subject Properties</a>
          </p>
          <p>
            <a href="docs/Notice_of_Settlement.pdf" target="_blank">
              <i class="far fa-file-pdf" style="padding-right:10px;font-size:24px;color:red" ></i>Settlement Class Notice</a>
          </p>
          <p>
            <a href="docs/Opt-Out_Form.pdf" target="_blank">
              <i class="far fa-file-pdf" style="padding-right:10px;font-size:24px;color:red" ></i>Opt-Out Form</a>
          </p>
          <p>
            <a href="docs/Settlement_Agreement.pdf" target="_blank">
              <i class="far fa-file-pdf" style="padding-right:10px;font-size:24px;color:red" ></i>Settlement Agreement</a>
          </p>
          <p>
            <a href="docs/Preliminary_Approval_Order.pdf" target="_blank">
              <i class="far fa-file-pdf" style="padding-right:10px;font-size:24px;color:red" ></i>Preliminary Approval Order</a>
          </p>
          <p>
            <a href="docs/Notice_of_Motion_and_Motion.pdf" target="_blank">
              <i class="far fa-file-pdf" style="padding-right:10px;font-size:24px;color:red" ></i>Request for Attorneys' Fees, Expenses, and Class Representative Service Award - Notice of Motion and Motion</a>
          </p>
          <p>
            <a href="docs/Proposed_Order.pdf" target="_blank">
              <i class="far fa-file-pdf" style="padding-right:10px;font-size:24px;color:red" ></i>Request for Attorneys' Fees, Expenses, and Class Representative Service Award - Proposed Order</a>
          </p>
          <p>
            <a href="docs/Memorandum_of_Law_in_Support.pdf" target="_blank">
              <i class="far fa-file-pdf" style="padding-right:10px;font-size:24px;color:red" ></i>Request for Attorneys' Fees, Expenses, and Class Representative Service Award - Memorandum of Law in Support</a>
          </p>
          <p>
            <a href="docs/Affidavit_of_Michael_F_Cockson.pdf" target="_blank">
              <i class="far fa-file-pdf" style="padding-right:10px;font-size:24px;color:red" ></i>Request for Attorneys' Fees, Expenses, and Class Representative Service Award - Affidavit of Michael F. Cockson</a>
          </p>
          <p>
            <a href="docs/Affidavit_of_Isaac_B_Hall.pdf" target="_blank">
              <i class="far fa-file-pdf" style="padding-right:10px;font-size:24px;color:red" ></i>Request for Attorneys' Fees, Expenses, and Class Representative Service Award - Affidavit of Isaac B. Hall</a>
          </p>
          <p>
            <a href="docs/Motion_for_Final_Approval_of_Class_Settlement.pdf" target="_blank">
              <i class="far fa-file-pdf" style="padding-right:10px;font-size:24px;color:red" ></i>Motion for Final Approval of Class Settlement (And Related Materials)</a>
          </p>
          <p>
            <a href="docs/Findings_of_Fact_and_Conclusions_of_Law_and_Order.pdf" target="_blank">
              <i class="far fa-file-pdf" style="padding-right:10px;font-size:24px;color:red" ></i>Findings of Fact, Conclusions of Law, and Order</a>
          </p>
          <p>
            <a href="docs/Final_Approval_Class_Action_Settlement_and_Judgment.pdf" target="_blank">
              <i class="far fa-file-pdf" style="padding-right:10px;font-size:24px;color:red" ></i>Order for Final Approval of Class Settlement and Judgment</a>
          </p>
        </div>
      </div>
    </div>


  </div>
</div>